@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
  --font-poppins: var(--font-poppins)
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@keyframes movingGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.animated-grid {
  background-image: radial-gradient(circle at center, rgba(255,255,255,0.8) 1px, transparent 1px);
  background-size: 20px 20px;
  animation: movingGrid 12s linear infinite;
}


/* Custom styles for React Quill editor content */
.ql-custom-styles .ql-editor h2 {
  @apply text-2xl font-medium mt-5 mb-4 text-gray-900;
}

.ql-custom-styles .ql-editor h3 {
  @apply text-xl font-medium mt-3 mb-4 text-gray-900;
}

.ql-custom-styles .ql-editor p {
  @apply mb-3;
}

.ql-custom-styles .ql-editor ul {
  @apply mb-6 ml-6;
}

.ql-custom-styles .ql-editor ul li {
  @apply mb-3 ;
}

.ql-custom-styles .ql-editor ol {
  @apply mb-6 ml-6;
}

.ql-custom-styles .ql-editor ol li {
  @apply mb-3 ;
}

.ql-custom-styles .ql-editor blockquote {
  @apply border-l-4 border-blue-600 pl-6 italic text-gray-600 my-6;
}
